.root {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    justify-content: space-around;
    align-items: center;
}

.timer {
    color: white;
    font-size: 40px;
}

.characters {
    display: flex;
    height: 80%;
    align-items: center;
    background-color: rgb(36, 36, 36);
    gap: 50px;
}

.character {
    height: 100%;
}